.beer-img {
  width: 405px;
  height: 619px;
  flex-shrink: 0;
  margin: 0 5px;
}

.beer-mockup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 614px;
  left: 100px;
}

.beer-row {
  display: flex;
  gap: 100px;
  justify-content: center;
}
