.button-history {
  margin-top: 20px;
}

.button-voir-plus {
  width: 235px;
  height: 83px;
  border-radius: 39px;
  border: 3px solid var(--jaune, #dfaa4f);
  background: transparent;
  color: var(--jaune, #dfaa4f);
  text-align: center;
  font-family: "Suez One", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.button-voir-plus:hover {
  background: var(--jaune, #dfaa4f);
  color: var(--beige-clair, #f4f0e3);
}

.button-packs-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-packs {
  background: var(--beige-clair, #f4f0e3);
  border-radius: 39px;
  border: 3px solid var(--jaune, #dfaa4f);
  color: var(--vert-menthe, #6bb393);
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 68px;
}

.button-packs:hover {
  background: var(--jaune, #dfaa4f);
  color: var(--beige-clair, #f4f0e3);
}

.button-blonde,
.button-brune,
.button-ipa {
  width: 235px;
  height: 83px;
  border-radius: 39px;
  background: #f4f0e3;
  text-align: center;
  font-family: "Suez One", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border: none;
  color: #000;
}

.button-blonde {
  color: #dfa94f;
}

.button-brune {
  color: #6d2d1f;
}

.button-ipa {
  color: #6bb393;
}
