.card-our-beer {
  width: 490px;
  height: 350px;
  flex-shrink: 0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px;
}

.card-our-beer-blonde {
  background-color: #dfa94f;
}

.card-our-beer-brune {
  background-color: #6d2d1f;
}

.card-our-beer-ipa {
  background-color: #6bb393;
  margin-top: 92px;
}

.card-our-beer .beer-mockup {
  width: 100%;
  height: auto;
  position: absolute;
  left: -230px;
}

.card-our-beer .beer-description {
  margin-left: 150px;
  text-align: left;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-our-beer h2 {
  font-family: "Suez One", serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.card-our-beer h2 span {
  display: block;
  transform: translateX(-30px);
}

.card-our-beer p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
  color: #f4f0e3;
  transform: translateX(-30px);
}

@media (max-width: 768px) {
  .card-our-beer {
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-our-beer .beer-mockup {
    position: relative;
    margin-bottom: 20px;
    width: auto;
    left: 0;
  }

  .card-our-beer .beer-description {
    margin-left: 0;
    text-align: center;
    width: auto;
  }
}
