.card-our-beer {
  flex-direction: row;
}

.card-our-beer-blonde {
  display: flex;
  flex-direction: row;
}

.card-our-beer-brune {
  display: flex;
  flex-direction: row;
}

.card-our-beer-ipa {
  display: flex;
  flex-direction: row;
}
