footer {
  background: var(--jaune, #dfaa4f);
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.footer-text {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.newsletter-text,
.adress-title,
.footer-text,
.politique-text,
.copyright {
  color: var(--noir, #000);
  font-family: "Source Sans 3";
}
