.mint-banner {
  background-color: #6bb393;
  padding: 10px 0;
  text-align: center;
}

.mint-banner p {
  color: #f4f0e3;
  font-family: "Source Sans 3", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}
