.politique-text {
  width: 532px;
  color: var(--noir, #000);
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 10px auto;
  display: block;
}
